$headingFont: 'Roboto', sans-serif;
$textFont: 'Poppins', sans-serif;
// colors//
$mainTextColor: rgba(35, 53, 6, 0.65);
$accentColor: #FDB827;
$secondaryAccentColor: #FF800B;
$mainTitleColor: #233506;
$econdaryTitleColor:#02283F;
$primaryWhiteColor:#FFFFFF;
$footerTittleColor: #243165;
$footerTextColor:rgba(55, 84, 101, 0.8);
$bgColor: #FFF9F2;
$animation: 300ms linear;